includes:
	# @see https://github.com/phpstan/phpstan-src/blob/b9f62d63f2deaa0a5e97f51073e41a422c48aa01/conf/bleedingEdge.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 5
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- %currentWorkingDirectory%/includes/
	bootstrapFiles:
		- %currentWorkingDirectory%/vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- %currentWorkingDirectory%/snapshots.php
		- %currentWorkingDirectory%/vendor/wordpress/wordpress-develop/tests/phpunit/includes/phpunit-adapter-testcase.php
		- %currentWorkingDirectory%/vendor/wordpress/wordpress-develop/tests/phpunit/includes/abstract-testcase.php
		- %currentWorkingDirectory%/vendor/wordpress/wordpress-develop/tests/phpunit/includes/testcase.php
	excludePaths:
		- %currentWorkingDirectory%/includes/lib/wp-file-system-direct-shim.php
	ignoreErrors:
		- '#Function WP_CLI\\Utils\\make_progress_bar not found.#'
	earlyTerminatingMethodCalls:
		\WP_CLI:
			- WP_CLI::error